/* Font chya link vagere eith add kara y chya */
@import url("https://fonts.googleapis.com/css2?family=Dekko&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  /*he Global variable Declared Karnya sathi use Kar to access any where */

  --boxBackgroundColor: red;
}

.box {
  width: 300px;
  min-height: 200px; /*min height 200px ye Max kiti pan Asu shakte*/
  border: 2px solid #000;
  margin: auto; /*Box chya baher chi space box left - right la move kar nya sathi*/

  background-color: var(--boxBackgroundColor);
}

.text p {
  padding: 10px;
  color: black;
}
