* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.2), rgba(12, 3, 51, 0.2));
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 80px;
}

nav img:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: skyblue;
  color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 100px;
  text-transform: uppercase;
  /* color: #fff; */
}
/* Hover kelya var ti transpernt hot  */
.content h1:hover {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
}
.content a {
  text-decoration: none;
  font-size: 24px;
  padding: 10px 70px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.content a:hover {
  background-color: skyblue;
  color: black;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
